/*
Student: Jaclyn
Honor Code: I pledge that this code represents my own work: Jaclyn
*/

#aside {
	width:16em;
    float:right;
    margin-right:50px;
}

#aside h1 {
	display:none;
}

.profile {
	padding:5px;
	width:75px;
	height:75px;
	float:left;
}

.inigo h2 {
	font-family:sans-serif;
	text-decoration:underline;
	font-size:15px;
	margin:0px;
	width:40px;
}

.inigo p {
	padding-bottom:5px;
}

.rugen h2 {
	font-family:sans-serif;
	text-decoration:underline;
	font-size:15px;
	margin:0px;
	width:98px;
}

.rugen p {
	background-color:#DDDDDD;
	padding-bottom:5px;
}
