/*
Student: Jaclyn
Honor Code: I pledge that this code represents my own work: Jaclyn
*/

body{
	font-size: 14px;
}

#aside {
		width:16em;
    float:right;
    margin-right:50px;
}

#aside h1 {
	display:none;
}

.name {
	font-weight:bold;
	text-decoration:underline;
	font-family:sans-serif;
}

.profile {
	padding-right:5px;
	padding-bottom: 5px;
	width:75px;
	height:75px;
	float:left;
}

.rugen p {
	background-color:#DDDDDD;
}
